@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html{
    font-family: 'Bree Serif', serif;
}
body{
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    top: 0;
    position: sticky;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
#title {
    margin-right: 100px;
}

#title h1 {
    font-size: 50px;
    color: #b20d0d;
}
nav {
    font-family: 'Bree Serif', serif;
    display: flex;
    flex-direction: row;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0px 25px;
    font-size: 25px;
}
.btn::after {
    content: '';
    width: 0;
    display: block;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
    transition: width .3s;
}

#form a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#form #Inscription {
    background-color: #b20d0d;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.35s;
}

#form #Inscription:hover {
    background-color: #7b0606;
}

#form #Identifier {
    margin-right: 30px;
}

#form #Identifier:hover {
    text-decoration: underline;
}

#centre{
    background-image: url(img/fond_ment_legale.jpg);
    height: 100vh;
    padding-top: 2rem;
}
#titre{
    padding-right: 10rem;
    padding-left: 15rem;
    font-size: 1.563rem;
    text-align: center;
}
.sous_titre{
    padding-left: 40px;
    color: #D70A0A;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
.sous_titre h2{
    margin-bottom: 0.938rem;
    margin-top: 0;
}
.texte{
    margin-right: 1.875rem;
    padding-left: 6.25rem;
    font-size: 1.063rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.texte p{
    margin-top: 0.313rem;
    margin-bottom: 0;
    padding-bottom: 0.938rem;
}

#container {
    display: flex;
    justify-content: space-around;
    border: solid black 2px;
}

footer {
    background-color: #363636;
    padding: 2.5rem;
}

.content {
    padding: 1rem 3rem;
}

.content h3 {
    font-size: 1.5rem;
    color: grey;
}

.content a {
    display: flex;
    text-decoration: none;
    color: white;
}

.content a:hover {
    text-decoration: underline;
}

#logoReseaux {
    display: flex;
    justify-content: center;
}

#logoReseaux img {
    width: 1.8rem;
    padding: 0.6rem;
    background-color: white;
    border-radius: 1.25rem;
    margin: 0.6rem;
    transition: 0.5s;
}

#logoReseaux img:hover {
    background-color: #b1B1B1;
    rotate: 360deg;
}
h4{
    color: white;
    text-align: center;
}





@media screen and (max-width:640px) {
    header {
        flex-direction: column;
        position: inherit;
        margin-bottom: 2rem;
    }
    #title {
        padding: 0;
        margin: 0;
    }
    #logo img {
        margin-top: 1rem;
        width: 15rem;
    }
    .main-page {
        display: none;
        flex-direction: column;
    }
    #toggle:checked+.main-page {
        display: flex;
    }
    nav label {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
        user-select: none;
    }
    header nav {
        padding: 0;
        margin: 0;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    header #form {
        padding-bottom: 1rem;
    }
    #mid {
        padding: 0;
        margin: 0;
    }
    #mid h2 {
        font-size: 2rem;
    }
    #mid span {
        font-size: 3rem;
    }
    #buttonDown img {
        display: none;
    }
    footer {
        padding: 1rem;
    }
    #container {
        flex-direction: column;
    }
    #nosThemes {
        height: 100rem;
    }
    #nosThemes h2 {
        font-size: 4rem;
    }
    .containerCartes {
        width: 85vw;
        height: 40vh;
    }
    .containerCartes p {
        font-size: 1rem;
    }
    #map {
        padding: 0;
        margin: 0;
    }
    #map iframe {
        width: auto;
        height: 50vh;
    }
}
