    @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    /*
font-family: 'Bree Serif', serif; font principal du site
font-family: 'Lato', sans-serif;; font pour les paragraphe

color:#7c0505;  rouge foncé
color:#9d0808;  rouge foncé clair
color:#363636;   noir clair
*/
    /*Début page*/
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        padding: 0;
        margin: 0;
        color: white;
        font-family: 'Bree Serif', serif;
        background-color: black;
    }
    /*Début du header*/
    
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 2rem;
        top: 0;
        position: sticky;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        z-index: 999;
    }
    
    #title {
        margin-right: 6rem;
    }
    
    #title h1 {
        font-size: 3rem;
        color: #b20d0d;
    }
    
    .main-page {
        display: flex;
        flex-direction: row;
    }
    
    .main-page a {
        text-decoration: none;
        color: white;
        padding: 0rem 1.5rem;
        font-size: 1.5rem;
    }
    
    .btn::after {
        content: '';
        width: 0;
        display: block;
        height: 2px;
        background: #fff;
        transition: width 0.3s;
    }
    
    nav a:hover::after {
        width: 100%;
        transition: width .3s;
    }
    
    nav label,
    #toggle {
        display: none;
    }
    
    #form a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
    }
    
    #form #Inscription {
        background-color: #b20d0d;
        padding: 0.6rem 1.25rem;
        border-radius: 0.6rem;
        transition: 0.35s;
    }
    
    #form #Inscription:hover {
        background-color: #7b0606;
    }
    
    #form #Identifier {
        margin-right: 1.8rem;
    }
    
    #form #Identifier:hover {
        text-decoration: underline;
    }
    /*Fin header*/
    /*Début formulaire*/
    
    #formulaire {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #eeeeee;
        height: 73vh;
        align-items: center;
        color: black;
        padding: 1rem;
    }
    
    #rightSide h2 {
        font-size: 3rem;
        color: black;
        text-align: center;
    }
    
    #firstNameForm,
    #lastNameForm,
    #emailForm,
    #passForm {
        display: flex;
        flex-direction: column;
    }
    
    #containerForm input {
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #b20d0d;
        outline: none;
    }
    
    #connexionB {
        display: flex;
        justify-content: center;
    }
    
    #connexionB a {
        text-decoration: none;
        color: white;
        background-color: #d30f0f;
        border-radius: 0.4rem;
        padding: 0.5rem 10rem;
        transition: 0.3s;
    }
    
    #connexionB a:hover {
        background-color: #b10e0e;
        color: black;
    }
    
    #inscription {
        display: flex;
        justify-content: center;
    }
    
    #inscription a {
        text-decoration: underline;
        color: black;
        font-weight: bold;
    }
    
    #firstNameForm,
    #lastNameForm,
    #emailForm,
    #passForm,
    #passOublie,
    #connexionB,
    #inscription {
        padding: 1rem;
    }
    
    .iconForm {
        display: flex;
        align-items: center;
    }
    
    .iconForm img {
        width: 2rem;
        padding-right: 0.5rem;
    }
    /*Début footer*/
    
    #container {
        display: flex;
        justify-content: space-around;
        border: solid black 2px;
    }
    
    footer {
        background-color: #363636;
        padding: 2.5rem;
    }
    
    .content {
        padding: 1rem 3rem;
    }
    
    .content h3 {
        font-size: 1.5rem;
        color: grey;
    }
    
    .content a {
        display: flex;
        text-decoration: none;
        color: white;
    }
    
    .content a:hover {
        text-decoration: underline;
    }
    
    #logoReseaux {
        display: flex;
        justify-content: center;
    }
    
    #logoReseaux img {
        width: 1.8rem;
        padding: 0.6rem;
        background-color: white;
        border-radius: 1.25rem;
        margin: 0.6rem;
        transition: 0.5s;
    }
    
    #logoReseaux img:hover {
        background-color: #b1B1B1;
        rotate: 360deg;
    }
    
    #cp {
        text-align: center;
    }
    /*Fin footer*/
    
    @media screen and (max-width:640px) {
        header {
            flex-direction: column;
            position: inherit;
            margin-bottom: 2rem;
        }
        #title {
            padding: 0;
            margin: 0;
        }
        #logo img {
            margin-top: 1rem;
            width: 15rem;
        }
        .main-page {
            display: none;
            flex-direction: column;
        }
        #toggle:checked+.main-page {
            display: flex;
        }
        nav label {
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            font-size: 40px;
            color: white;
            cursor: pointer;
            user-select: none;
        }
        header nav {
            padding: 0;
            margin: 0;
            flex-direction: column;
            text-align: center;
            padding-bottom: 1rem;
        }
        header #form {
            padding-bottom: 1rem;
        }
        footer {
            padding: 1rem;
        }
        #formulaire{
            height: auto;
        }
        #container {
            flex-direction: column;
        }
        #formulaire #leftSide {
            display: none;
        }
        #righSide h2{
            font-size: 2.5rem;
        }
        #connexionB a{
            padding: 0.5rem 30vw;

        }
    }