@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
html{
    font-family: 'Bree Serif', serif
}
body{
    background-color: black;
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    top: 0;
    position: sticky;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
#title {
    margin-right: 100px;
}

#title h1 {
    font-size: 50px;
    color: #b20d0d;
}
nav {
    display: flex;
    flex-direction: row;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0px 25px;
    font-size: 25px;
}
.btn::after {
    content: '';
    width: 0;
    display: block;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
    transition: width .3s;
}

#form a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#form #Inscription {
    background-color: #b20d0d;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.35s;
}

#form #Inscription:hover {
    background-color: #7b0606;
}

#form #Identifier {
    margin-right: 30px;
}

#form #Identifier:hover {
    text-decoration: underline;
}

#centre{

    text-align: center;
    margin-left: 30rem;
    margin-right: 30rem;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    background-color: #d02828;
    color: #ededed;
    border: solid 10px #ba4d4d;
}
#centre p{
    padding-left: 6rem;
    padding-right: 6rem;
}

#formulaire form{
    display: flex;
    flex-direction: column;    
}
form input{
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 10rem;
    margin-left: 20rem;
    background-color: #d02828;
    border: none;
    color: white;
    border-bottom: solid 0.06rem #ba4d4d;
}
form p{
    text-align:start;
    margin-left: 14rem;
    
}
textarea{

    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 10rem;
    margin-left: 20rem;
    background-color: #d02828;
    border: none;
    color: white;
    border-bottom: solid 0.06rem #ba4d4d;
}
[type ="submit"]{
    margin-left: 22.688rem;
    height: 2rem;
    width: 7rem;
    border: groove 0.063rem white;
}
[type ="submit"]:hover{
    background-color: #df5b5b;
}
