@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*
font-family: 'Bree Serif', serif; font principal du site
font-family: 'Lato', sans-serif; font pour les paragraphe

color:#7c0505;  rouge foncé
color:#9d0808;  rouge foncé clair
color:#363636;   noir clair
*/

body {
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: 'Bree Serif', serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    position: sticky;
    justify-content: space-between;
    padding: 0rem 2rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 999;
}

#title {
    margin-right: 6rem;
}

#title h1 {
    font-size: 3rem;
    color: #b20d0d;
}

.main-page {
    display: flex;
    flex-direction: row;
}

.main-page a {
    text-decoration: none;
    color: white;
    padding: 0rem 1.5rem;
    font-size: 1.5rem;
}

.btn::after {
    content: '';
    width: 0;
    display: block;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
    transition: width .3s;
}

label,
#toggle {
    display: none;
}

#form a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

#form #Inscription {
    background-color: #b20d0d;
    padding: 0.6rem 1.25rem;
    border-radius: 0.6rem;
    transition: 0.35s;
}

#form #Inscription:hover {
    background-color: #7b0606;
}

#form #Identifier {
    margin-right: 1.8rem;
}

#form #Identifier:hover {
    text-decoration: underline;
}

#principal {
    background-color: #363636;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 3rem;
    color: #ededed;
    font-size: 2rem;
}

#titre h2 {
    font-size: 3rem;
}

table {
    margin-top: 3rem;
    border-collapse: collapse;
    margin-bottom: 5rem;
    table-layout: auto;
    width: 85rem;
    height: 35rem;
    box-shadow: 7px 5px 20px #b1b1b1;
}

td {
    width: 55rem;
    color: #d3d3d3;
    font-family: 'Lato', sans-serif;
    padding-right: 2rem;
    font-size: 1rem;
}

th {
    color: #fff;
    font-size: 2rem;
}

.line_type1 {
    background-color: #781313;
}

.line_type2 {
    background-color: #5f5f5f;
}

@media screen and (max-width:640px) {
    header {
        flex-direction: column;
        position: inherit;
        margin-bottom: 2rem;
    }
    #title {
        padding: 0;
        margin: 0;
    }
    #logo img {
        margin-top: 1rem;
        width: 15rem;
    }
    .main-page {
        display: none;
        flex-direction: column;
    }
    #toggle:checked+.main-page {
        display: flex;
    }
    label {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
        user-select: none;
    }
    header nav {
        padding: 0;
        margin: 0;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    header #form {
        padding-bottom: 1rem;
    }
}